.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userForm section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}
.userForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userForm form h1 {
  align-self: center;
}
.userForm button {
  width: 193px;
  padding: 10px;
  border-radius: 10px;
}
.userForm a:before {
  position: relative;
  display: block;
  content: "";
  background-color: #f0f3f4;
  width: 192px;
  height: 0.15em;
  margin: 10px 0px 10px 0px;
}

:root {
  font-size: 87.5%;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  color: #f0f3f4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100dvh;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
body > header button {
  background: none;
  border: none;
  width: 64px;
  height: 64px;
  margin: 0px 150px 0px 5px;
}
body > header button img {
  scale: 2;
}
body > header img {
  height: 32px;
  margin: 0px 10px 0px 5px;
}
body > header ul {
  display: none;
  padding: 0;
  margin: 10px 0px 0px 0px;
  background-color: #141414;
  list-style: none;
  border-radius: 15px;
}
body > header ul::before {
  content: "";
}
body > header ul li {
  margin: 5px 0px 5px 0px;
}
body > header ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
}
body > header ul.active a {
  color: #f0f3f4;
}
body > header ul::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #141414 transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}

input {
  background-color: #f0f3f4;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main section {
  display: flex;
  flex-direction: row;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}

section > .quest, section > .pet, section > .new, section > .ongoing, section > .complete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.quest section, .new section, .ongoing section, .complete section {
  flex-direction: column;
  width: 100%;
  background-color: #3b3a3a;
}

.quest button {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  background-color: #f0f3f4;
}
.quest button::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/planning.png")/"Manage";
  margin: 0px 2px 0px 0px;
  scale: 0.7;
}

.pet {
  position: relative;
}
.pet h2 {
  margin: 0;
}
.pet label {
  margin: 10px 0px 10px 0px;
}
.pet button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
.pet button span:nth-child(2) {
  margin: 0px 0px 0px 20px;
}
.pet button::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/cherry.png")/"Cherry";
}
.pet button::after {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/coin.png")/"Coin";
}
.pet::before, .pet::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f0f3f4;
  top: 0;
}

.pet::before {
  left: -10px;
}

.pet::after {
  right: -10px;
}

.new > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.new > header button {
  background: transparent;
  border: none;
  scale: 0.7;
}

.ongoing {
  position: relative;
}
.ongoing::before, .ongoing::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f0f3f4;
  top: 0;
}
.ongoing::before {
  left: -10px;
}
.ongoing::after {
  right: -10px;
}

.addTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addTask section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}
.addTask section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addTask section form textarea {
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}

.hover-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3b3a3a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.hover-text {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 20px;
  background-color: #3b3a3a;
  color: #f0f3f4;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-label:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
