.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userForm section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}
.userForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userForm form h1 {
  align-self: center;
}
.userForm button {
  width: 193px;
  padding: 10px;
  border-radius: 10px;
}
.userForm a:before {
  position: relative;
  display: block;
  content: "";
  background-color: #f0f3f4;
  width: 192px;
  height: 0.15em;
  margin: 10px 0px 10px 0px;
}

:root {
  font-size: 87.5%;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  color: #f0f3f4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100dvh;
}
@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  body > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
body > header div {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  body > header div {
    width: 60%;
  }
}
body > header .streak {
  width: auto;
  position: relative;
  top: 16px;
  left: 95px;
  z-index: 1;
}
body > header .streak P {
  position: relative;
  top: 0;
  left: -35px;
  color: #242424;
  font-weight: bolder;
  z-index: 1;
}
body > header button {
  background: none;
  border: none;
  width: 64px;
  height: 64px;
  margin: 0px 150px 0px 5px;
}
@media (max-width: 768px) {
  body > header button {
    margin: 5px 15px 0px 5px;
  }
}
body > header button img {
  scale: 2;
}
body > header img {
  height: 32px;
  margin: 0px 10px 0px 5px;
}
body > header ul {
  display: none;
  padding: 0;
  margin: 10px 0px 0px 0px;
  background-color: #141414;
  list-style: none;
  border-radius: 15px;
}
body > header ul::before {
  content: "";
}
body > header ul li {
  margin: 5px 0px 5px 0px;
}
@media (max-width: 768px) {
  body > header ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
body > header ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
}
@media (max-width: 768px) {
  body > header ul.active {
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: #5e5e5e;
  }
}
body > header ul.active a {
  color: #f0f3f4;
}
body > header ul::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #141414 transparent;
}
@media (max-width: 768px) {
  body > header ul::before {
    left: 88.5%;
    border-color: transparent transparent #5e5e5e transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}

input {
  background-color: #f0f3f4;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

button, input[type=submit] {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .main {
    width: 100%;
    margin-top: 100px;
  }
}
.main section {
  display: flex;
  flex-direction: row;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}
@media (max-width: 768px) {
  .main section {
    flex-direction: column;
    width: 100%;
  }
}

section > .task, section > .pet, section > .new, section > .ongoing, section > .complete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}
@media (max-width: 768px) {
  section > .task, section > .pet, section > .new, section > .ongoing, section > .complete {
    justify-content: center;
    margin: 0;
  }
}

section > .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
}
@media (max-width: 768px) {
  section > .shop {
    justify-content: center;
    margin: 0;
  }
}

.task section, .new section, .ongoing section, .complete section {
  flex-direction: column;
  width: 100%;
  background-color: #3b3a3a;
}

.tasks_main {
  height: 400px;
}

@media (max-width: 768px) {
  .task {
    order: 3;
  }
}
.task h1 {
  font-size: 2rem;
  width: 200px;
  text-align: center;
}
.task__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.task__list-card {
  display: inline-block;
  flex-direction: row;
  background-color: #5e5e5e;
  padding: 5px;
  border-radius: 15px;
  position: relative;
  margin: 4px 0px 4px 0px;
  text-align: center;
  cursor: grab;
}
.task__list-card .hover-desc {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #858585;
  color: #f0f3f4;
  padding: 8px 12px;
  border: 3px solid black;
  border-radius: 8px;
  white-space: nowrap;
  z-index: 10;
}
.task__list-card .hover-task:hover + .hover-desc {
  display: block;
}
.task button {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  background-color: #f0f3f4;
}
.task button::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/planning.png")/"Manage";
  margin: 0px 2px 0px 0px;
  scale: 0.7;
}

.height {
  height: 500px;
}
@media (max-width: 768px) {
  .height {
    height: 150px;
  }
}

.pet {
  position: relative;
}
@media (max-width: 768px) {
  .pet {
    order: 1;
  }
}
.pet h2 {
  margin: 0;
}
.pet label {
  margin: 10px 0px 10px 0px;
}
.pet button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
.pet button span:nth-child(2) {
  margin: 0px 0px 0px 20px;
}
.pet button::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/cherry.png")/"Cherry";
}
.pet button::after {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/coin.png")/"Coin";
}
.pet-gif {
  margin: 20px;
}
.pet-basket {
  position: absolute;
  top: 195px;
  left: 185px;
}
.pet-pen {
  position: relative;
  top: -24px;
  left: 58px;
  cursor: pointer;
}
.pet__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: hidden;
}
.pet__btn-btn {
  background-color: transparent;
  border: none;
}
.pet__btn-btn::after, .pet__btn-btn::before {
  visibility: hidden;
}
.pet progress {
  margin: 20px;
  height: 40px;
  width: 100%;
}
.pet progress::before {
  position: absolute;
  top: 460px;
  left: 140px;
  font-size: 1.25rem;
  content: "Hungry";
}
.pet::before, .pet::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f0f3f4;
  top: 0;
}
@media (max-width: 768px) {
  .pet::before, .pet::after {
    display: none;
  }
}

.pet::before {
  left: -10px;
}

.pet::after {
  right: -10px;
}

@media (max-width: 768px) {
  .shop {
    order: 2;
  }
  .shop::before, .shop::after {
    display: block;
    position: relative;
    content: "";
    background: #f0f3f4;
    height: 5px;
    left: -50px;
    width: 125%;
    margin: 0px 0px 20px 100px;
  }
}
.shop h1 {
  font-size: 2rem;
}
.shop__options {
  display: flex;
  flex-direction: column !important;
}
.shop__options-pets {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  padding: 0 !important;
}
@media (max-width: 768px) {
  .shop__options-pets {
    flex-direction: row !important;
  }
}
.shop__options-pets img {
  display: block;
  width: 64px;
  height: auto;
  border: 3px solid #858585;
  border-radius: 15px;
}
.shop__options-pets figure {
  margin: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.shop__options-pets figure:first-child:hover {
  cursor: pointer;
}
.shop__options-pets figure:nth-child(2), .shop__options-pets figure:nth-child(3) {
  cursor: not-allowed;
}
.shop__options-pets figure:nth-child(2)::after, .shop__options-pets figure:nth-child(3)::after {
  content: attr(data-diag);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
  white-space: nowrap;
  width: 140%;
  text-align: center;
}
.shop__options-perks {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  padding: 0 !important;
}
@media (max-width: 768px) {
  .shop__options-perks {
    flex-direction: row !important;
  }
}
.shop__options-perks img {
  display: block;
  width: 64px;
  height: auto;
  border: 3px solid #858585;
  border-radius: 15px;
  padding: 2px;
}
.shop__options-perks figure {
  margin: 5px;
  position: relative;
  display: inline-block;
  overflow: visible;
  cursor: not-allowed;
}
.shop__options-perks figure .desc {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #858585;
  color: #f0f3f4;
  padding: 8px 12px;
  border: 3px solid black;
  border-radius: 8px;
  white-space: nowrap;
  z-index: 10;
}
.shop__options-perks figure .desc div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
}
.shop__options-perks figure .desc div h5, .shop__options-perks figure .desc div p {
  margin: 0;
}
.shop__options-perks figure .desc div p:after {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/coin.png")/"Coin";
}
.shop__options-perks figure:hover .desc {
  display: block;
}
.shop__options #special::before {
  display: block;
  position: relative;
  content: "";
  background: #f0f3f4;
  height: 2px;
  left: -50px;
  width: 125%;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 768px) {
  .shop__options #special::before {
    margin: 0px 0px 20px 15px;
  }
}
.shop__options-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.shop__options-delete form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.shop__options-delete form select {
  text-align: center;
  height: 35px;
  font-size: 1.25rem;
  border-radius: 15px;
}
.shop__options-delete form button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 15px;
}
.shop__options-delete form button span:last-child {
  margin: 0px 0px 0px 20px;
}
.shop__options-delete form button::after {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/coin.png")/"Coin";
}

.new > header {
  display: flex;
  flex-direction: row;
}
.new > header a {
  display: inline-flex;
  align-items: center;
  position: relative;
  right: -100px;
}
.new > header a img {
  scale: 0.7;
}

.new .task__list, .ongoing .task__list, .complete .task__list {
  display: flex;
  flex-direction: column;
}
.new .task__list-card, .ongoing .task__list-card, .complete .task__list-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5e5e5e;
  padding: 5px;
  border-radius: 15px;
  margin: 4px 0px 4px 0px;
}
.new .task__list-card h2, .ongoing .task__list-card h2, .complete .task__list-card h2 {
  margin-right: 5px;
}
.new .task__list-card h2::after, .ongoing .task__list-card h2::after, .complete .task__list-card h2::after {
  display: block;
  content: "";
  position: absolute;
  height: 40%;
  width: 2px;
  background: #f0f3f4;
  top: 21px;
  left: 18px;
}
.new .task__list-card h3, .ongoing .task__list-card h3, .complete .task__list-card h3 {
  margin: 0px 8px 0px 3px;
}

.ongoing {
  position: relative;
}
.ongoing::before, .ongoing::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f0f3f4;
  top: 0;
}
@media (max-width: 768px) {
  .ongoing::before, .ongoing::after {
    display: none;
  }
}
.ongoing::before {
  left: -10px;
}
.ongoing::after {
  right: -10px;
}

.addTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .addTask {
    margin-top: 100px;
  }
}
.addTask section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 15px;
  padding: 25px;
}
.addTask section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addTask section form .big {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .addTask section form .big {
    flex-direction: column;
  }
}
.addTask section form .big .right, .addTask section form .big .left {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}
.addTask section form .big .right__quests {
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.addTask section form .big .days {
  display: flex;
  flex-direction: row;
}
.addTask section form .big .days button {
  opacity: 0.5;
  pointer-events: none;
}
.addTask section form .big .days button.selected {
  background: #00BCD4;
  color: white;
  border-radius: 5px;
}
.addTask section form .big .active {
  display: flex;
  flex-direction: row;
}
.addTask section form .big .active button {
  opacity: 1;
  pointer-events: auto;
}
.addTask section form input {
  text-align: left;
}
.addTask section form input[type=submit] {
  width: 50%;
  align-self: center;
  text-align: center;
}
.addTask section form textarea {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  height: 50px;
  resize: none;
}
.addTask section form select {
  margin: 10px;
  padding: 2px;
  text-align: center;
}

.details {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
}
.details h1 {
  grid-column: 1/4;
  grid-row: 1;
  align-content: center;
  justify-self: center;
  font-size: 2rem;
}
.details .coins {
  grid-column: 1;
  grid-row: 2/3;
  align-content: center;
  justify-self: center;
}
.details .coins::after {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/coin.png")/"Coin";
}
.details .c_title {
  grid-column: 1;
  grid-row: 3/4;
  align-content: start;
  margin: 0;
}
.details h3 {
  grid-column: 2;
  grid-row: 2/4;
  align-content: center;
  justify-self: center;
}
.details h4 {
  grid-column: 3;
  grid-row: 2;
  align-content: end;
  justify-self: center;
  margin-bottom: 0;
}
.details .repeat {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.details .repeat h6 {
  margin-top: 0;
}
.details .desc {
  grid-column: 1;
  grid-row: 4;
  align-items: center;
}
.details p {
  grid-column: 1/4;
  grid-row: 5;
  align-content: center;
  justify-self: center;
}
.details .checkboxes {
  grid-column: 1/4;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.details .checkboxes__normal, .details .checkboxes__checked {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
}
.details .checkboxes__normal p, .details .checkboxes__checked p {
  margin-left: 50px;
}
.details .checkboxes__checked {
  text-decoration: line-through;
}

.hover-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3b3a3a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.hover-text {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 20px;
  background-color: #3b3a3a;
  color: #f0f3f4;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-label:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.taskTable {
  text-align: center;
}
.taskTable tbody {
  display: flex;
  flex-direction: column;
}
.taskTable tr {
  height: 50px;
  margin: 5px 0px;
  cursor: auto;
  align-content: center;
}
.taskTable td {
  padding: 3px;
}
.taskTable tr > td:first-child {
  border-right: 1px solid #f0f3f4;
}

.bins {
  cursor: pointer;
}

.verification {
  flex-direction: row !important;
}
.verification input {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: hidden;
}

.pen {
  position: relative;
  cursor: pointer;
  top: -40px;
  left: 45px;
}

.forms {
  display: flex;
  flex-direction: column;
}
.forms__first {
  display: flex;
  flex-direction: row;
}
.forms__first-pen {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.specialDelete {
  text-decoration-style: none;
}
.specialDelete button {
  background-color: #f51426;
  color: #f0f3f4;
}
.specialDelete button:hover {
  color: #141414;
}
.specialDelete::before {
  display: none !important;
}

.streaks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.streaks div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
}
.streaks div h1 {
  position: relative;
  top: 75px;
  color: #242424;
  font-size: 1.5rem;
  font-weight: bolder;
  z-index: 1;
}
.streaks-left::after {
  display: block;
  position: absolute;
  content: "";
  background: #f0f3f4;
  width: 2px;
  height: 140px;
  top: 215px;
  left: 50%;
}
@media (max-width: 768px) {
  .streaks-left::after {
    top: 170px;
  }
}
.streaks::after {
  display: block;
  position: absolute;
  content: "";
  background: #f0f3f4;
  width: 370px;
  height: 2px;
  top: 37%;
  left: 40%;
}
@media (max-width: 768px) {
  .streaks::after {
    top: 33.25%;
    left: 8%;
  }
}

.show {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
