<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/taskly_logo.png') }}" type="image/x-icon">

    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>

    <script src="https://unpkg.com/i18next@23.4.6/dist/umd/i18next.min.js"></script>
    <script src="{{url_for('static', filename='js/i18n.js')}}"></script>

</head>
   <body>
        <header>
            <div>
                <a href="{{ url_for('main', user=user.name) }}">
                    <img src="{{url_for('static', filename='img/back.png')}}" alt="left-arrow">
                </a>
            </div>
            <h3>{{user.coins}}</h3>
            <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
            {% if user.streak > 1 %}
            <div class="streak">
                <img src="{{url_for('static', filename=streak_src)}}" alt="streak" style="width: 32px; height: 32px;">
                <p>{{user.streak}}</p>
            </div>
            {% endif %}
            <nav>    
                <button id="js-toggle-menu">
                    <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
                </button>
                <ul id="js-toggleable-menu">
                    <li><a href="{{ url_for('account', user=user.name) }}" data-i18n="menu.account">Account</a></li>
                    <li><a href="{{ url_for('main', user=user.name) }}" data-i18n="menu.main">Main Page</a></li>
                    <li><a href="https://buycoffee.to/s3qu" data-i18n="menu.buycoffee">Buycoffee</a></li>
                    <li><a href="{{ url_for('index') }}" data-i18n="menu.out">Log out</a></li>
                </ul>
            </nav>
        </header>
        <section class="userForm">
            <section>
                <div class="streaks">
                    <div class="streaks-left">
                        <h1>{{user.streak}}</h1>
                        {% if user.streak == 0 %}
                            <img src="{{url_for('static', filename='img/streak.png')}}" alt="current" style="width: 64px; height: 64px; filter: grayscale(80%);">
                        {% else %}
                            <img src="{{url_for('static', filename='img/streak.png')}}" alt="current" style="width: 64px; height: 64px;">
                        {% endif %}
                        <h3 data-i18n="acc.current">Current streak</h3>
                    </div>
                    <div>
                        <h1>{{user.streak_record}}</h1>
                        <img src="{{url_for('static', filename='img/fire-flame.gif')}}" alt="record" style="width: 64px; height: 64px;">
                        <h3 data-i18n="acc.record">Record streak</h3>
                    </div>
                </div>
                <h1 id="userName">{{ user.name }}</h1>
                <img src="{{url_for('static', filename='img/pencil.png')}}" alt="pen" id="edit" onclick="enableEditing()" class="pen">
                <div class="buttons" id="buttons">    
                    <button onclick="resetValue()" class="pet__btn-btn" id="cancel"><img src="{{url_for('static', filename='img/cancel.png')}}" alt="cancel"></button>
                    <form action="{{url_for('user_name', user_id=user.id)}}" method="post">
                        <input type="hidden" name="new_name" id="hiddenName">
                        <button class="pet__btn-btn" id="confirm">
                            <img src="{{url_for('static', filename='img/check.png')}}" alt="confirm">
                        </button>
                    </form>
                </div>
                {% if name != '' %}
                    <p>{{name}}</p>
                {% endif %}
                <form action="{{url_for('update_mail', user=user.name)}}" method="post" class="forms">
                    <div class="forms__first">    
                        <input type="email" name="mail" id="mail" disabled value="{{user.email}}">
                        <img src="{{url_for('static', filename='img/pencil.png')}}" alt="pen" id="edit2" onclick="inputEdit('mail', 'btns', 'edit2')" class="forms__first-pen">
                    </div>
                    <div class="buttons" id="btns">
                        <input type="reset" value="❌" onclick="defaultInput('mail', 'btns', 'edit2')">
                        <input type="submit" value="✅">
                    </div>
                </form>
                {% if mail != '' %}
                    <p>{{mail}}</p>
                {% endif %}
                <form action="{{url_for('update_pass', user=user.name)}}" method="post" class="forms">
                    <div class="forms__first">    
                        <input type="password" name="pass" id="pass" disabled value="password" placeholder="Password" where="acc">
                        <img src="{{url_for('static', filename='img/pencil.png')}}" alt="pen" id="edit3" onclick="inputEdit('pass', 'btns2', 'edit3')" class="forms__first-pen">
                    </div>
                    <input type="text" name="repass" id="repass" hidden placeholder="Reapet password">
                    <div class="buttons" id="btns2">
                        <input type="reset" value="❌" onclick="defaultInput('pass', 'btns2', 'edit3')">
                        <input type="submit" value="✅">
                    </div>
                </form>
                {% if passw != '' %}
                    <p>{{passw}}</p>
                {% endif %}
                <a href="{{ url_for('delete_user', user_id=user.id)}}" class="specialDelete"><button data-i18n="acc.delete">DELETE ACCOUNT</button></a>
            </section>
        </section>
   </body>
</html>