<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>

    <script src="https://unpkg.com/i18next@23.4.6/dist/umd/i18next.min.js"></script>
    <script src="{{url_for('static', filename='js/i18n.js')}}"></script>
</head>
   <body>
      <section class="userForm">
         <section>
            <form action = "{{ url_for('login') }}" method = "POST">
               <h1>Login</h1>
               <input type = "text" name = "nm" placeholder="Login">
               <input type="password" name="password" data-i18n-attr="placeholder:sign.pass" id="pass" where="index">
               <div class="show">
                  <input type="checkbox" name="show" id="show" onclick="showPass('pass')">
                  <p data-i18n="index.show_pass">Show password</p>
              </div>
               <input type = "submit" data-i18n-attr="value:index.submit">
            </form>
            <a href="/form"><button data-i18n="index.sign">Sign up</button></a>
         </section>
      </section>
   </body>
</html>