<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h3>000</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <button>
            <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
        </button>
        <ul>
            <li><a href="">Account</a></li>
            <li><a href="">Log out</a></li>
        </ul>
    </header>
    <section class="userForm">
        <section>
            <section class="quest">
                <header>
                    <h1>Tasks</h1>
                </header>
                <section></section>
                <button>Manage</button>
            </section>
            <section class="pet">
                <img src="" alt="pet">
                <h2>Name</h2>
                <label>Happines</label>
                <button>Feed 20<img src="{{url_for('static', filename='img/coin.png')}}" alt="coin"></button>
            </section>
        </section>
    </section>
</body>
</html>