<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
</head>
<body>
    <header>
        <h3>{{user.coins}}</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="/account/{{user.name}}">Account</a></li>
                <li><a href="/main/{{user.name}}">Main Page</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section>
            <section class="task">
                <header>
                    <h1>Tasks</h1>
                </header>
                <section>
                    <div class="task__list">
                        {% for task in tasks %}
                            <div class="task__list-card" style="cursor: pointer;">
                                <h3 class="hover-task">{{task.name}}</h3>
                                <p class="hover-desc">{{task.description}}</p>
                            </div>
                        {% else %}
                            <h2>No tasks yet</h2>
                        {% endfor %}
                    </div>
                </section>
                <a href="/tasks/{{user.name}}"><button>Manage</button></a>
                <a href="/all_tasks/{{user.name}}">See all your tasks</a>
            </section>
            <section class="pet">
                <img src="{{url_for('static', filename=gif.gif_url)}}" alt="pet" class="pet-gif">
                <img src="{{url_for('static', filename=src)}}" alt="basket" class="pet-basket">
                <h2 id="userName">{{user_pet.name}}</h2>
                <img src="{{url_for('static', filename='img/pencil.png')}}" alt="pen" id="edit" onclick="enableEditing()" class="pet-pen">
                <div class="pet__btn" id="buttons">    
                    <button onclick="resetValue()" class="pet__btn-btn" id="cancel"><img src="{{url_for('static', filename='img/cancel.png')}}" alt="cancel"></button>
                    <form action="{{url_for('update_name', user=user.name, pet_id=user_pet.id)}}" method="post">
                        <input type="hidden" name="new_name" id="hiddenName">
                        <button class="pet__btn-btn" id="confirm">
                            <img src="{{url_for('static', filename='img/check.png')}}" alt="confirm">
                        </button>
                    </form>
                </div>
                <progress value="{{user_pet.feed}}" max="100"></progress>
                <form action="{{url_for('increase_feed', user=user.name, user_coins=user.coins, pet_id=user_pet.id)}}" method="post">
                    <button><span>FEED</span><span>20</span></button>
                </form>
            </section>
            <section class="shop">
                <header>
                    <h1>SHOP</h1>
                </header>
                <section class="shop__options">
                    <h3>Buy new pet</h3>
                    <section class="shop__options-pets">
                        <figure>
                            <img src="{{url_for('static', filename='img/pet/panda.png')}}" alt="pet1">
                        </figure>
                        <figure data-diag="COMING SOON">
                            <img src="{{url_for('static', filename='img/pet/kitty.png')}}" alt="pet2">
                        </figure>
                        <figure data-diag="COMING SOON">
                            <img src="{{url_for('static', filename='img/pet/animal.png')}}" alt="pet3">
                        </figure>
                    </section>
                    <h3 id="special">Buy perks</h3>
                    <section class="shop__options-perks">
                        <figure>
                            <img src="{{url_for('static', filename='img/poisonous.png')}}" alt="heal">
                            <div class="desc">
                                <h4>Instant health</h4>
                                <p>This item will add 45 feed points</p>
                                <div>
                                    <h5>Cost</h5>
                                    <p>70</p>
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <img src="{{url_for('static', filename='img/fire.png')}}" alt="">
                            <div class="desc">
                                <h4>Streak return</h4>
                                <p>If you forgot make one task per day and lost your strak. You can buy it and resume your streak</p>
                                <div>
                                    <h5>Cost</h5>
                                    <p>110</p>
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <img src="{{url_for('static', filename='img/apple.png')}}" alt="">
                            <div class="desc">
                                <h4>Golden apple</h4>
                                <p>This item gives full feed</p>
                                <div>
                                    <h5>Cost</h5>
                                    <p>90</p>
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <img src="{{url_for('static', filename='img/zeus.png')}}" alt="">
                            <div class="desc">
                                <h4>God hand</h4>
                                <p>God hand gives full feed and resume your streak</p>
                                <div>
                                    <h5>Cost</h5>
                                    <p>175</p>
                                </div>
                            </div>
                        </figure>
                    </section>
                    <h3 id="special">Buy delete</h3>
                    <p>You can delete every task you want, but you have to pay 40 coins</p>
                    <section class="shop__options-delete">
                        <form action="{{url_for('delete', user=user.name)}}" method="POST">
                            <select name="delete" id="">
                                <option selected disabled hidden>Task</option>
                                {% for task in tasks %}
                                    <option value="{{ task.id }}">{{ task.name }} | {{ task.repeatability }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit"><span>DELETE</span><span>40</span></button>
                        </form>
                    </section>
                </section>
            </section>
        </section>
    </section>
</body>
</html>