<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
</head>
<body>
    <header>
        <h3>{{user.coins}}</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="">Account</a></li>
                <li><a href="/main/{{user.name}}">Main Page</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section>
            <section class="quest">
                <header>
                    <h1>Tasks</h1>
                </header>
                <section>
                    <div class="task-list">
                        {% for task in tasks %}
                            <div class="task-card">
                                <h3>{{task.name}}</h3>
                                <p>{{task.description}}</p>
                            </div>
                        {% else %}
                            <h2>No tasks yet</h2>
                        {% endfor %}
                    </div>
                </section>
                <a href="/tasks/{{user.name}}"><button>Manage</button></a>
            </section>
            <section class="pet">
                <img src="{{url_for('static', filename=gif.gif_url)}}" alt="pet">
                <img src="{{url_for('static', filename=src)}}" alt="basket">
                <h2>{{user_pet.name}}</h2>
                <img src="{{url_for('static', filename='img/pencil.png')}}" alt="pen" onclick="">
                <button onclick="" hidden><img src="" alt="cancel"></button>
                <button onclick="" hidden><img src="" alt="confirm"></button>
                <label>Happines</label>
                <progress value="{{user_pet.feed}}" max="100"></progress>
                <button><span>FEED</span><span>20</span></button>
            </section>
            <section>
                <header>
                    <h1>Choose</h1>
                </header>
            </section>
        </section>
    </section>
</body>
</html>