<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
</head>
<body>
    <form action="http://localhost:5000/sign" method="post">
        <input type="text" name="name" placeholder="Name/Login">
        <input type="text" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="re_password" placeholder="Reapet password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>