<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css">
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
</head>
<body>
    <header>
        <h3>000</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="">Account</a></li>
                <li><a href="/main">Main Page</a></li>
                <li><a href="">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="addTask">
        <section>
            <h1>ADD NEW TASK</h1>
            <form action="" method="post">
                <input type="text" name="name" id="">
                <textarea name="description" id=""></textarea>
                <select name="category" id="">
                    <option value="basic">Basic</option>
                    <option value="important">Important</option>
                </select>
                <p><input type="checkbox" name="option" value="everyday">Everyday</p>
                <p><input type="checkbox" name="option" value="once">Once a week <label class="hover-label">?<span class="hover-text">It will reapet on each selected day</span></label></p>
                <input type="date" name="" id="">
                <p><input type="checkbox" name="option" value="range">Range <label class="hover-label">?<span class="hover-text">Task will reapet on selected range</span></label></p>
                <!--Choosing date, if everyday or since date to date-->
                <input type="date"  id="daterange">
                <!--or in two inputs, date start and date end-->

                <input type="submit" value="ADD TASK">
            </form>
        </section>
    </section>
    <!--think about it-->
    <script>
        const picker = new Litepicker({
          element: document.getElementById('daterange'),
          singleMode: false, // range
          format: 'YYYY-MM-DD'
        });
    </script>
</body>
</html>