<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/drag&drop.js')}}" defer></script>
</head>
<body>
    <header>
        <h3>{{user.coins}}</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="">Account</a></li>
                <li><a href="/main/{{user.name}}">Main Page</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section>
            <section class="new">
                <header>
                    <h1>NEW</h1>
                    <a href="/task/{{user.name}}"><img src="{{url_for('static', filename='img/plus.png')}}" alt="plus"></a>
                </header>
                <section>
                    <table>
                        <tr><th>On.</th><th>Name</th><th>Description</th></tr>
                    </table>
                    <div class="task__list height" id="new"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "new" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                    {% if task.category not in ["critical", "important"] %}
                                        <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <h2>No tasks yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="ongoing">
                <header>
                    <h1>ONGOING</h1>
                </header>
                <section>
                    <table>
                        <tr><th>On.</th><th>Name</th><th>Description</th></tr>
                    </table>
                    <div class="task__list height" id="ongoing"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "ongoing" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                </div>
                            {% endif %}
                        {% else %}
                            <h2>No tasks in progress yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="complete">
                <header>
                    <h1>COMPLETE</h1>
                </header>
                <section>
                    <table>
                        <tr><th>On.</th><th>Name</th><th>Description</th></tr>
                    </table>
                    <div class="task__list height" id="complete"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "done" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                    {% if task.status == "done" %}
                                        <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <h2>No tasks done yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
        </section>
    </section>
</body>
</html>