<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h3>000</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        <button>
            <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
        </button>
        <ul>
            <li><a href="">Account</a></li>
            <li><a href="">Log out</a></li>
        </ul>
    </header>
    <section class="main">
        <section>
            <section class="new">
                <header>
                    <h1>NEW</h1>
                    <a href="/task"><button><img src="{{url_for('static', filename='img/plus.png')}}" alt="plus"></button></a>
                </header>
                <section>

                </section>
            </section>
            <section class="ongoing">
                <header>
                    <h1>ONGOING</h1>
                </header>
                <section>

                </section>
            </section>
            <section class="complete">
                <header>
                    <h1>COMPLETE</h1>
                </header>
                <section>

                </section>
            </section>
        </section>
    </section>
</body>
</html>