<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/taskly_logo.png') }}" type="image/x-icon">

    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/drag&drop.js')}}" defer></script>

    <script src="https://unpkg.com/i18next@23.4.6/dist/umd/i18next.min.js"></script>
    <script src="{{url_for('static', filename='js/i18n.js')}}"></script>
</head>
<body>
    <header id="onTop">
        <div>
            <a href="{{ url_for('main', user=user.name) }}">
                <img src="{{url_for('static', filename='img/back.png')}}" alt="left-arrow">
            </a>
        </div>
        <h3>{{user.coins}}</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        {% if user.streak > 1 %}
            <div class="streak">
                <img src="{{url_for('static', filename=streak_src)}}" alt="streak" style="width: 32px; height: 32px;">
                <p>{{user.streak}}</p>
            </div>
        {% endif %}
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="{{ url_for('account', user=user.name) }}" data-i18n="menu.account">Account</a></li>
                <li><a href="{{ url_for('main', user=user.name) }}" data-i18n="menu.main">Main Page</a></li>
                <li><a href="https://buycoffee.to/s3qu" data-i18n="menu.buycoffee">Buycoffee</a></li>
                <li><a href="{{ url_for('index') }}" data-i18n="menu.out">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section>
            <section class="new">
                <header>
                    <h1 data-i18n="tasks.new">NEW</h1>
                    <a href="{{ url_for('task', user=user.name) }}"><img src="{{url_for('static', filename='img/plus.png')}}" alt="plus"></a>
                </header>
                <section>
                    <table>
                        <tr><th data-i18n="tasks.table.on">On.</th><th data-i18n="tasks.table.name">Name</th><th data-i18n="tasks.table.desc">Description</th></tr>
                    </table>
                    <div class="task__list height" id="new"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "new" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}" from="tasks">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                    <a href="{{ url_for('details', user=user.name, id=task.id) }}" title="Show details">
                                        <img src="{{url_for('static', filename='img/eye.png')}}" alt="eye" style="width: 32px; height: 32px;">
                                    </a>
                                    {% if task.category not in ["critical", "important"] and task.repeatability not in ["daily"] %}
                                        <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <h2 data-i18n="tasks.notyet">No tasks yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="ongoing">
                <header>
                    <h1 data-i18n="tasks.ongoing">ONGOING</h1>
                </header>
                <section>
                    <table>
                        <tr><th data-i18n="tasks.table.on">On.</th><th data-i18n="tasks.table.name">Name</th><th data-i18n="tasks.table.desc">Description</th></tr>
                    </table>
                    <div class="task__list height" id="ongoing"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "ongoing" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}" from="tasks">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                    <a href="{{ url_for('details', user=user.name, id=task.id) }}" title="Show details">
                                        <img src="{{url_for('static', filename='img/eye.png')}}" alt="eye" style="width: 32px; height: 32px;">
                                    </a>
                                    {% if task.category not in ["critical", "important"] and task.repeatability not in ["daily"] %}
                                        <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <h2 data-i18n="tasks.notprogress">No tasks in progress yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
            <section class="complete">
                <header>
                    <h1 data-i18n="tasks.complete">COMPLETE</h1>
                </header>
                <section>
                    <table>
                        <tr><th data-i18n="tasks.table.on">On.</th><th data-i18n="tasks.table.name">Name</th><th data-i18n="tasks.table.desc">Description</th></tr>
                    </table>
                    <div class="task__list height" id="complete"><!--think about colors based on category-->
                        {% for task in tasks %}
                            {% if task.status == "done" %}
                                <div class="task__list-card" draggable="true" data-id="{{task.id}}" userID="{{user.id}}" userName="{{user.name}}" from="tasks">
                                    <h2>{{ loop.index }}</h2>
                                    <h3>{{task.name}}</h3>
                                    <p>{{task.description}}</p>
                                    <a href="{{ url_for('details', user=user.name, id=task.id) }}" title="Show details">
                                        <img src="{{url_for('static', filename='img/eye.png')}}" alt="eye" style="width: 32px; height: 32px;">
                                    </a>
                                    {% if task.status == "done" %}
                                        <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <h2 data-i18n="tasks.notdone">No tasks done yet</h2>
                        {% endfor %}
                    </div>
                </section>
            </section>
        </section>
    </section>
</body>
</html>