<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task mgm</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/taskly_logo.png') }}" type="image/x-icon">

    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/drag&drop.js')}}" defer></script>

    <script src="https://unpkg.com/i18next@23.4.6/dist/umd/i18next.min.js"></script>
    <script src="{{url_for('static', filename='js/i18n.js')}}"></script>
</head>
<body>
    <header id="onTop">
        <div>
            <a href="{{ url_for('main', user=user.name) }}">
                <img src="{{url_for('static', filename='img/back.png')}}" alt="left-arrow">
            </a>
        </div>
        <h3>{{user.coins}}</h3>
        <img src="{{url_for('static', filename='img/money.png')}}" alt="money">
        {% if user.streak > 1 %}
            <div class="streak">
                <img src="{{url_for('static', filename=streak_src)}}" alt="streak" style="width: 32px; height: 32px;">
                <p>{{user.streak}}</p>
            </div>
        {% endif %}
        <nav>    
            <button id="js-toggle-menu">
                <img src="{{url_for('static', filename='img/account.png')}}" alt="account">
            </button>
            <ul id="js-toggleable-menu">
                <li><a href="{{ url_for('account', user=user.name) }}" data-i18n="menu.account">Account</a></li>
                <li><a href="{{ url_for('main', user=user.name) }}" data-i18n="menu.main">Main Page</a></li>
                <li><a href="https://buycoffee.to/s3qu" data-i18n="menu.buycoffee">Buycoffee</a></li>
                <li><a href="{{ url_for('index') }}" data-i18n="menu.out">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section>
           <table class="taskTable">
                <tr><th data-i18n="allTask.table.on">On.</th><th data-i18n="allTask.table.name">Name</th><th data-i18n="allTask.table.desc">Description</th><th data-i18n="allTask.table.repeat">Repeat</th></tr>
                {% set n = namespace(i=1) %}
                {% if group_reprs or ungrouped_tasks %}
                    {# group representation #}    
                    {% for task in group_reprs %}
                        <tr class="task__list-card" data-id="{{task.id}}" userName="{{user.name}}" from="user_tasks">
                            <td>{{ n.i }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>
                                {% if task.repeatability == "range" %}
                                    {{ task.start_date }} - {{ task.end_date }}
                                {% elif task.repeatability == "weekly" %}
                                    {{ task.repeatability }} {{ task.start_date.strftime("%A") }}
                                {% else %}
                                    {{ task.repeatability }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('details', user=user.name, id=task.id) }}" title="Show details">
                                    <img src="{{url_for('static', filename='img/eye.png')}}" alt="eye" style="width: 32px; height: 32px;">
                                </a>
                            </td>
                            <td>
                                {% if task.category not in ["critical", "important"] and task.repeatability not in ["daily"] %}
                                    <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                {% endif %}
                            </td>
                        </tr>
                        {% set n.i = n.i + 1 %}
                        {% endfor %}
                        
                        {# single tasks #}
                        {% for task in ungrouped_tasks %}
                        <tr class="task__list-card" data-id="{{task.id}}" userName="{{user.name}}" from="user_tasks">
                            <td>{{ n.i }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>
                                {% if task.repeatability == "range" %}
                                {{ task.start_date }} - {{ task.end_date }}
                                {% elif task.repeatability == "weekly" %}
                                {{ task.repeatability }} {{ task.start_date.strftime("%A") }}
                                {% else %}
                                {{ task.repeatability }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('details', user=user.name, id=task.id) }}" title="Show details">
                                    <img src="{{url_for('static', filename='img/eye.png')}}" alt="eye" style="width: 32px; height: 32px;">
                                </a>
                            </td>
                            <td>
                                {% if task.category not in ["critical", "important"] and task.repeatability not in ["daily"] %}
                                <img src="{{url_for('static', filename='img/delete.png')}}" alt="bin" class="bins">
                                {% endif %}
                            </td>
                        </tr>
                        {% set n.i = n.i + 1 %}
                    {% endfor %}
                {% else %}
                    <tr><td rowspan="4" data-i18n="allTask.text">Not tasks yet</td></tr>
                {% endif %}
           </table>
        </section>
    </section>
</body>
</html>