@use 'variables.scss' as *;

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobileBreakPoint){
        width: 100%;
        margin-top: 100px;
    }
    
    section{
        display: flex;
        flex-direction: row;
        background-color: $secondaryColor;
        border-radius: 15px;
        padding: 25px;

        @media (max-width: $mobileBreakPoint){
            flex-direction: column;
            width: 100%;
        }
    }
}

section>.task, section>.pet, section>.new, section>.ongoing, section>.complete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;

    @media (max-width: $mobileBreakPoint){
        justify-content: center;
        margin: 0;      
    }
}
section>.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
    
    @media (max-width: $mobileBreakPoint){
        justify-content: center;
        margin: 0;      
    }
}

.task, .new, .ongoing, .complete{
    section{
        flex-direction: column;
        width: 100%;
        background-color: $thirdColor;
    }
}

.tasks_main{
    height: 400px;
}

.task{
    @media (max-width: $mobileBreakPoint){
        order: 3;       
    }

    h1{
        font-size: 2rem;
        width: 200px;
        text-align: center;
    }

    &__list{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &-card{
            display: inline-block;
            flex-direction: row;
            background-color: $fourColor;
            padding: 5px;
            border-radius: 15px;
            position: relative;
            margin: 4px 0px 4px 0px;
            text-align: center;
            cursor: grab;

            .hover-desc{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $fifthColor;
                color: $fontColor;
                padding: 8px 12px;
                border: 3px solid black;
                border-radius: 8px;
                white-space: nowrap;
                z-index: 10;
            }
            .hover-task:hover + .hover-desc{
                display: block;
            }
        }
    }

    button{
        display: inline-flex;
        align-items: center;
        border-radius: 15px;
        padding: 5px;
        margin: 10px 0px 0px 0px;
        background-color: $fontColor;

        &::before{
            display: inline-block;
            vertical-align: middle;
            content: url('../img/planning.png') / "Manage";
            margin: 0px 2px 0px 0px;
            scale: 0.7;
        }
    }
}
.height{
    height: 500px;
}

.pet{
    position: relative;

    @media (max-width: $mobileBreakPoint){
        order: 1;       
    }

    h2{
        margin: 0;
    }

    label{
        margin: 10px 0px 10px 0px;
    }

    button{
        display: inline-flex;
        align-items: center;
        padding: 10px;
        border-radius: 15px;

        span:nth-child(2){
            margin: 0px 0px 0px 20px;
        }

        &::before{
            display: inline-block;
            vertical-align: middle;
            content: url('../img/cherry.png') / "Cherry";
        }
        &::after{
            display: inline-block;
            vertical-align: middle;
            content: url('../img/coin.png') / "Coin";
        }
    }

    &-gif{
        margin: 20px;
    }

    &-basket{
        position: absolute;
        top: 195px;
        left: 185px;
    }

    &-pen{
        position: relative;
        top: -24px;
        left: 58px;
        cursor: pointer;
    }

    &__btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        visibility: hidden;

        &-btn{
            background-color: transparent;
            border: none;

            &::after, &::before{
                visibility: hidden;
            }
        }
    }

    progress{
        margin: 20px;
        height: 40px;
        width: 100%;

        &::before{
            position: absolute;
            top: 460px;
            left: 140px;
            font-size: 1.25rem;
            content: 'Hungry';
        }
    }

    &::before, &::after{
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background: $fontColor;
        top: 0;

        @media (max-width: $mobileBreakPoint){
            display: none;   
        }
    }
}
.pet::before{
    left: -10px;
}
.pet::after{
    right: -10px;
}

.shop{
    @media (max-width: $mobileBreakPoint){
        order: 2;
        
        &::before,&::after{
            display: block;
            position: relative;
            content: '';
            background: $fontColor;
            height: 5px;
            left: -50px;
            width: 125%;
            margin: 0px 0px 20px 100px;
        }
    }


    h1{
        font-size: 2rem;
    }

    &__options{
        display: flex;
        flex-direction: column !important;

        
        &-pets{
            display: flex;
            flex-direction: row;
            justify-self: flex-start;
            padding: 0 !important;
            
            @media (max-width: $mobileBreakPoint){
                flex-direction: row !important;
            }
            
            img{
                display: block;
                width: 64px;
                height: auto;
                border: 3px solid $fifthColor;
                border-radius: 15px;
            }
            
            figure{
                margin: 5px;
                position: relative;
                display: inline-block;
                overflow: hidden;
                &:first-child:hover{
                    cursor: pointer;
                }
                
                &:nth-child(2), &:nth-child(3){
                    cursor: not-allowed;
                    &::after{
                        content: attr(data-diag);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        transform-origin: center;
                        white-space: nowrap;
                        width: 140%;
                        text-align: center;
                    }
                }
            }
        }
        
        &-perks{
            display: flex;
            flex-direction: row;
            justify-self: flex-start;
            padding: 0 !important;
            
            @media (max-width: $mobileBreakPoint){
                flex-direction: row !important;
            }

            img{
                display: block;
                width: 64px;
                height: auto;
                border: 3px solid $fifthColor;
                border-radius: 15px;
                padding: 2px;
            }
            figure{
                margin: 5px;
                position: relative;
                display: inline-block;
                overflow: visible;
                cursor: not-allowed;

                .desc{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $fifthColor;
                    color: $fontColor;
                    padding: 8px 12px;
                    border: 3px solid black;
                    border-radius: 8px;
                    white-space: nowrap;
                    z-index: 10;
        
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        float: right;

                        h5, p{
                            margin: 0;
                        }

                        p:after{
                            display: inline-block;
                            vertical-align: middle;
                            content: url('../img/coin.png') / "Coin";
                        }
                    }
                }

                &:hover .desc{
                    display: block;
                }
            }
        }

        #special::before{
            display: block;
            position: relative;
            content: '';
            background: $fontColor;
            height: 2px;
            left: -50px;
            width: 125%;
            margin: 0px 0px 20px 0px;
            
            @media (max-width: $mobileBreakPoint){
                margin: 0px 0px 20px 15px;
            }
        }

        &-delete{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                
                select{
                    text-align: center;
                    height: 35px;
                    font-size: 1.25rem;
                    border-radius: 15px;
                }

                button{
                    display: inline-flex;
                    align-items: center;
                    padding: 10px;
                    margin: 10px 0px;
                    border-radius: 15px;

                    span:last-child{
                        margin: 0px 0px 0px 20px;
                    }

                    &::after{
                        display: inline-block;
                        vertical-align: middle;
                        content: url('../img/coin.png') / 'Coin';
                    }
                }
            }
        }
    }
}

.new>header{
    display: flex;
    flex-direction: row;

    
    a{
        display: inline-flex;
        align-items: center;
        position: relative;
        right: -100px;
        img{
            scale: 0.7;
        }
    }
}
.new, .ongoing, .complete{
    .task{
        &__list{
            display: flex;
            flex-direction: column;

            &-card{
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: $fourColor;
                padding: 5px;
                border-radius: 15px;
                margin: 4px 0px 4px 0px;

                h2{
                    margin-right: 5px;
                    &::after{
                        display: block;
                        content: '';
                        position: absolute;
                        height: 40%;
                        width: 2px;
                        background: $fontColor;
                        top: 21px;
                        left: 18px;
                    }
                }
                h3{
                    margin: 0px 8px 0px 3px;
                }
            }
        }
    }
}

.ongoing{
    position: relative;

    &::before, &::after{
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background: $fontColor;
        top: 0;
        @media (max-width: $mobileBreakPoint){
            display: none;
        }
    }
    &::before{
        left: -10px;
    }
    &::after{
        right: -10px;
    }
}

.addTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-width: $mobileBreakPoint) {
        margin-top: 100px;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondaryColor;
        border-radius: 15px;
        padding: 25px;


        form{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .big{
                display: flex;
                flex-direction: row;

                @media (max-width: $mobileBreakPoint){
                    flex-direction: column;
                }

                .right, .left{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 50px;
                }
                .right__quests{
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                }
                .days{
                    display: flex;
                    flex-direction: row;
                    button{
                        opacity: 0.5;
                        pointer-events: none;
                    }
                    button.selected{
                        background: $blueColor;
                        color: white;
                        border-radius: 5px;
                    }
                }
                .active{
                    display: flex;
                    flex-direction: row; 
                    button {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }

            input{
                text-align: left;
            }
            input[type="submit"]{
                width: 50%;
                align-self: center;
                text-align: center;
            }

            textarea{
                border-radius: 5px;
                margin: 10px;
                padding: 5px;
                height: 50px;

                resize: none;
            }

            select{
                margin: 10px;
                padding: 2px;
                text-align: center;
            }            
        }
    }
}

.details{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);

    h1{
        grid-column: 1/4;
        grid-row: 1;
        align-content: center;
        justify-self: center;
        font-size: 2rem;
    }
    .coins{
        grid-column: 1;
        grid-row: 2/3;
        align-content: center;
        justify-self: center;
        &::after{
            display: inline-block;
            vertical-align: middle;
            content: url('../img/coin.png') / 'Coin';
        }
    }
    .c_title{
        grid-column: 1;
        grid-row: 3/4;
        align-content: start;
        margin: 0;
    }
    h3{
        grid-column: 2;
        grid-row: 2/4;
        align-content: center;
        justify-self: center;
    }
    h4{
        grid-column: 3;
        grid-row: 2;
        align-content: end;
        justify-self: center;
        margin-bottom: 0;
    }
    .repeat{
        grid-column: 3;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h6{
            margin-top: 0;
        }
    }
    .desc{
        grid-column: 1;
        grid-row: 4;
        align-items: center;
    }
    p{
        grid-column: 1/4;
        grid-row: 5;
        align-content: center;
        justify-self: center;
    }
    .checkboxes{
        grid-column: 1/4;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        &__normal, &__checked{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: larger;

            p{
                margin-left: 50px;
            }
        }

        &__checked{
            text-decoration: line-through;
        }
    }
}

.hover-label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $thirdColor;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.hover-text{
    visibility: hidden;
    position: absolute;
    inset-inline-start: 20px;
    inset-block-start: 20px;
    background-color: $thirdColor;
    color: $fontColor;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hover-label:hover .hover-text{
    visibility: visible;
    opacity: 1;
}

.taskTable{
    text-align: center;

    tbody{
        display: flex;
        flex-direction: column;
    }

    tr{
        height: 50px;
        margin: 5px 0px;
        cursor: auto;
        align-content: center;
    }
    td{
        padding: 3px;
    }

    tr > td:first-child{
        border-right: 1px solid $fontColor;
    }
}
.bins{
    cursor: pointer;
}

.verification{
    flex-direction: row !important;

    input{
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
}
.pen{
    position: relative;
    cursor: pointer;
    top: -40px;
    left: 45px;
}
.forms{
    display: flex;
    flex-direction: column;

    &__first{
        display: flex;
        flex-direction: row;

        &-pen{
            cursor: pointer;
            width: 32px;
            height: 32px;
        }
    }
}
.specialDelete{
    text-decoration-style: none;
    button{
        background-color: #f51426;
        color: $fontColor;
        
        &:hover{
            color: $secondaryColor;
        }
    }
    &::before{
        display: none !important;
    }
}

.streaks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 25px;

        h1{
            position: relative;
            top: 75px;
            color: $primaryColor;
            font-size: 1.5rem;
            font-weight: bolder;
            z-index: 1;
        }
    }
    &-left::after{
        display: block;
        position: absolute;
        content: '';
        background: $fontColor;
        width: 2px;
        height: 140px;
        top: 215px;
        left: 50%;

        @media (max-width: $mobileBreakPoint){
            top: 170px;
        }
    }

    &::after{
        display: block;
        position: absolute;
        content: '';
        background: $fontColor;
        width: 370px;
        height: 2px;
        top: 37%;
        left: 40%;

        @media (max-width: $mobileBreakPoint){
            top: 33.25%;
            left: 8%;
        }
    }
}
.show{
    display: flex;
    flex-direction: row;
}