$mainFont: Roboto, sans-serif;
$fontColor: #f0f3f4;
$mobileBreakPoint: 768px;

$primaryColor: #242424;
$secondaryColor: #141414;
$thirdColor: #3b3a3a;
$fourColor: #5e5e5e;
$fifthColor: #858585;

$blueColor: #00BCD4;